body{
margin:0;
font-family:Arial;
background:#0b0b14;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#111;
}

.navbar a{
color:white;
margin-left:20px;
text-decoration:none;
}

.logo{
color:#7a5cff;
}

.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(black,#1c1c2e);
}

.hero h2{
font-size:50px;
}

.hero button{
padding:10px 20px;
background:#7a5cff;
border:none;
color:white;
font-size:16px;
cursor:pointer;
}

.about{
padding:60px;
text-align:center;
}

.structure{
padding:60px;
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.role{
background:#161626;
padding:20px;
border-radius:10px;
}

.leaderboard{
padding:60px;
text-align:center;
}

footer{
text-align:center;
padding:20px;
background:#111;
}

.navbar a.active{
border-bottom:2px solid #7a5cff;
padding-bottom:4px;
}

/* member cards */

.members{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:40px;
}

.member-card{
background:#161626;
padding:20px;
border-radius:10px;
text-align:center;
}

.member-card img{
width:80px;
height:80px;
border-radius:50%;
margin-bottom:10px;
}

.member-card h3{
margin:10px 0 5px 0;
}

.member-card p{
font-size:14px;
opacity:0.8;
}
.modal{

display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.75);
justify-content:center;
align-items:center;
z-index:1000;

}

.modalBox{

background:rgba(30,30,45,0.9);
backdrop-filter:blur(14px);
padding:40px;
border-radius:12px;
width:300px;
text-align:center;
color:white;
position:relative;

}

.googleBtn{

margin-top:15px;
padding:10px 20px;
background:#7a5cff;
border:none;
border-radius:6px;
color:white;
cursor:pointer;

}

.closeBtn{

position:absolute;
top:10px;
right:15px;
font-size:20px;
cursor:pointer;

}
